@page "/create-or-edit-todo"
@using KawanLamaKhairilIlham.Services.Interfaces
@using KawanLamaKhairilIlham.Data
@inject NavigationManager Navigation
@inject IToDoService ToDoService

<h3>Create or Edit ToDo</h3>

<EditForm Model="@toDoModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Subject:</label>
        <InputText @bind-Value="toDoModel.Subject" />
    </div>

    <div>
        <label>Description:</label>
        <InputTextArea @bind-Value="toDoModel.Description" />
    </div>

    <button type="submit">Save</button>
</EditForm>

@code {
    private TodoData toDoModel = new TodoData(); // Membuat instance baru dari ToDoModel

    protected override async Task OnInitializedAsync()
    {
        // Logic untuk inisialisasi data, misalnya saat mengedit item yang sudah ada
        // Bisa memuat data to-do yang ada jika perlu
    }

    private async Task HandleValidSubmit()
    {
        if (toDoModel.Id == 0)
        {
            // Menambahkan to-do baru
            await ToDoService.CreateToDoAsync(toDoModel);
        }
        else
        {
            // Mengupdate to-do yang sudah ada
            await ToDoService.UpdateToDoAsync(toDoModel);
        }
        Navigation.NavigateTo("/todo-list");
    }
}
