@page "/createOrEditToDo"
@using KawanLamaKhairilIlham.Services.Interfaces
@using KawanLamaKhairilIlham.Data
@inject NavigationManager Navigation
@inject IToDoService ToDoService
@inject Blazored.SessionStorage.ISessionStorageService session

<h3>Create or Edit ToDo</h3>

<EditForm Model="@toDoModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Subject:</label>
        <InputText @bind-Value="toDoModel.Subject" />
    </div>

    <div>
        <label>Description:</label>
        <InputTextArea @bind-Value="toDoModel.Description" />
    </div>

    <button type="submit">Save</button>
</EditForm>

@code {
    private TodoData toDoModel = new TodoData(); 

    protected override async Task OnInitializedAsync()
    {

    }

    private async Task HandleValidSubmit()
    {
        if (toDoModel.Id == 0)
        {
            var sessionUser = await session.GetItemAsync<UserData>("SessionUser");
            toDoModel.UserId = sessionUser.Id;
            await ToDoService.CreateToDoAsync(toDoModel);
        }
        else
        {
            await ToDoService.UpdateToDoAsync(toDoModel);
        }
        Navigation.NavigateTo("/toDoList");
    }
}
